@import "tailwindcss";

:root {
  --background: hsl(210, 38%, 95%);
  --foreground: hsl(220, 43%, 11%);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --container-mdx: 16px;

  --breakpoint-mdx: 16px;
  --breakpoint-tablet: 640px;
  --breakpoint-laptop: 640px;
  --breakpoint-desktop: 640px;

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

html,
body {
  margin: 0;
  width: 100vw;
  overflow-x: hidden;
  height: fit-content;
  scroll-behavior: smooth;
  color: var(--color-foreground);
  background: var(--color-background);
}

.dark-mode body {
  color: hsl(215, 23%, 65%);
  background: var(--color-foreground);
}

@layer utilities {
  @keyframes loaderBounceDelay {
    0%,
    80%,
    100% {
      transform: scale(0);
    }
    40% {
      transform: scale(1);
    }
  }

  @keyframes wave {
    0% {
      transform: rotate(0deg);
    }
    10% {
      transform: rotate(-10deg);
    }
    20% {
      transform: rotate(12deg);
    }
    30% {
      transform: rotate(-10deg);
    }
    40% {
      transform: rotate(9deg);
    }
    50% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }
}

@media (min-width: var(--breakpoint-tablet)) {}
@media (min-width: var(--breakpoint-laptop)) {}
@media (min-width: var(--breakpoint-desktop)) {}